h1 {
    color: white;
    text-align: center;
    font-size: 150px;
    font-family: "Roboto Mono", monospace;
}

h2 {
    color: white;
    margin: auto;
    font-family: "Roboto Mono", monospace;
    font-size: 100px;
    text-align: center;
}

body {
    background-color: #EF9CDA;
}

div {
    text-align: center;
    margin-bottom: 10em;
    margin-top: 10em;
    margin-left: 25%;
    margin-right: 25%;
}

.menu {
    text-align: center;
    margin: auto;
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    color: white;
}

img {
    float: left;
    height: 50px;
}