h1, h2, h3, p, a {
    color: white;
    font-family: "DotGothic16", sans-serif;
}

body {
    background-color: #800020;
}

h1 {
    margin-bottom: 0;
    margin-top: 30px;
    letter-spacing: 10px;
    text-shadow: 5px 5px 1px black;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
    text-shadow: 4px 4px 0px black;
}

h3 {
    font-size: 25px;
    text-align: center;
    margin: 5;
    padding: 5;
    letter-spacing: 2px;
    text-shadow: 4px 4px 0px black;
}

p {
    font-size: 18px;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    letter-spacing: 1px;
}

a {
    font-size: 18px;
    padding: 0 10px;
    text-underline-offset: 3px;
    letter-spacing: 1px;
}

img {
    width: 100%;
}

hr {
    width: 80%;
}

iframe {
    margin-top: -10px;
    padding-bottom: 30px;
}

.topnav {
    text-align: center;
    margin-top: 15px;
}

.active {
    color: lime;
}

.links {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
}

.videos {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.images {
    margin: auto;
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.spacer {
    padding: 10px;
}