h1, h2, p, a {
    color: white;
    font-family: "DotGothic16", sans-serif;
}

body {
    background-color: #800020;
}

h1 {
    margin-bottom: 0;
    margin-top: 30px;
    letter-spacing: 10px;
    text-shadow: 5px 5px 0px black;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px 0px black;
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
}

p {
    font-size: 18px;
    text-shadow: 3px 3px 0px black;
    text-align: center;
}

a {
    font-size: 18px;
    padding: 0 10px;
}

img {
    width: 100%;
}

.topnav {
    text-align: center;
    margin: 15px;
}

.active {
    color: lime;
}

.links {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;
    text-align: center;
}

.videos {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.images {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}